/* Общие стили */
body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  height: 100%; /* Занимаем всю высоту экрана */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота равна высоте экрана */
}

/* Шапка */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

header .logo img {
  width: 30px;
  margin-right: 10px;
}

header nav {
  display: flex;
  gap: 20px;
}

header nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

header .buttons {
  display: flex;
  gap: 10px;
}

header .buttons a {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

header .buttons .login {
  background-color: #f0f0f0;
  color: #333;
}

header .buttons .register {
  background-color: #007bff;
  color: #fff;
}

main {
  padding: 40px;
}

.breadcrumb {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.breadcrumb a {
  text-decoration: none;
  color: #666;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb strong {
  color: #000;
  font-weight: bold;
}

/* Основной контейнер */
.container {
  padding: 20px;
  flex: 1; /* Основной контент занимает все доступное пространство */
}

.container h1 {
  margin-bottom: 20px;
}

/* Поисковая строка */
.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 99%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Категории */
.categories {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.category {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.category.active {
  border-color: #007bff;
  background-color: #f0f8ff;
}

/* Автомобили */
.cars {
  display: flex;
  gap: 20px;
  align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.car {
  flex: 1;
  text-align: center;
}

.car img {
  width: 100%;
  border-radius: 5px;
}

.car h3 {
  margin: 10px 0 5px;
}

.car p {
  color: #666;
}

/* Стрелка */
.arrow {
  display: flex;
  align-items: center; /* Выравниваем стрелку по центру */
}

.arrow img {
  width: 50px; /* Размер стрелки */
  height: auto;
  cursor: pointer; /* Курсор при наведении */
}

/* Подвал */
footer {
  background-color: #333; /* Темный фон */
  color: #fff; /* Белый текст */
  padding: 40px 20px;
  text-align: center;
  margin-top: auto; /* Подвал прижимается к низу */
}

footer .contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .contact-info p {
  margin: 0;
  font-size: 18px;
}