/* Общие стили */
body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f9f9f9;
  height: 100%; /* Занимаем всю высоту экрана */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота равна высоте экрана */
}

/* Шапка сайта */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

header .logo img {
  width: 30px;
  margin-right: 10px;
}

header nav {
  display: flex;
  gap: 20px;
}

header nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

header .buttons {
  display: flex;
  gap: 10px;
}

header .buttons a {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

header .buttons .login {
  background-color: #f0f0f0;
  color: #333;
}

header .buttons .register {
  background-color: #007bff;
  color: #fff;
}

main {
  padding: 40px;
  flex: 1; /* Основной контент занимает все доступное пространство */
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.breadcrumb a {
  text-decoration: none;
  color: #666;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb strong {
  color: #000;
  font-weight: bold;
}

/* Основной контент */
.main-content {
  display: flex;
  flex: 1; /* Растягиваем на всю доступную высоту */
  padding: 20px;
}

.main-content .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрируем текст по вертикали */
}

.main-content .text h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.main-content .text ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.main-content .text p {
  font-size: 35px;
  color: #555;
}

.main-content .image {
  flex: 1;
  background: url('photo/fonirk2.jpg') no-repeat center center; /* Относительная ссылка на фон */
  background-size: cover;
  border-radius: 0px;
  margin-left: 20px; /* Отступ между текстом и изображением */
}

/* Подвал */
footer {
  background-color: #333; /* Темный фон */
  color: #fff; /* Белый текст */
  padding: 40px 20px;
  text-align: center;
  margin-top: auto; /* Подвал прижимается к низу */
}

footer .contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .contact-info p {
  margin: 0;
  font-size: 18px;
}