/* Общие стили */
body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  height: 100%; /* Занимаем всю высоту экрана */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота равна высоте экрана */
}

/* Шапка сайта */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

header .logo img {
  width: 30px;
  margin-right: 10px;
}

header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

header .buttons {
  display: flex;
  gap: 10px;
}

header .buttons a {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

header .buttons .login {
  background-color: #f0f0f0;
  color: #333;
}

header .buttons .register {
  background-color: #007bff;
  color: #fff;
}

main {
  padding: 40px;
  flex: 1; /* Основной контент занимает все доступное пространство */
}

.breadcrumb {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.breadcrumb a {
  text-decoration: none;
  color: #666;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb strong {
  color: #000;
  font-weight: bold;
}

/* Основной контейнер */
.container {
  padding: 20px;
}

.container h1 {
  margin-bottom: 20px;
}

/* Команда */
.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.team-member {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.team-member img {
  width: 200px; /* Задаем фиксированную ширину */
  height: 200px; /* Задаем фиксированную высоту */
  object-fit: cover; /* Сохраняем пропорции изображения, обрезая лишнее */
  border-radius: 1%; /* Опционально: делаем изображения круглыми */
}

.team-member h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.team-member p {
  color: #666;
  font-size: 14px;
}

/* Подвал */
footer {
  background-color: #333; /* Темный фон */
  color: #fff; /* Белый текст */
  padding: 40px 20px;
  text-align: center;
  margin-top: auto; /* Подвал прижимается к низу */
}

footer .contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .contact-info p {
  margin: 0;
  font-size: 18px;
}